
.simple-aif-display {
	color: #ddd;
	bottom: 0px;
	right: 0px;
    /* height: 100px; */
	width: max(300px, 30%);
    overflow: hidden;
    position: fixed;
	background-color: transparent;
    opacity: 1;
}

.bar-container {
	display:flex;
	align-items:center;
	max-width: 800;
}

#progress {
	animation: progress-colors 1s ease;
	animation-play-state: paused;
	animation-delay: calc(-0.99s * var(--percent));
	flex: 1;
	min-width: 100px;
	height: 30px;
	margin-left: 10px;
}

.status-div {
	display: inline-block;
	/* border: 1px gray solid; */
	border-radius: 5px;
	padding: 7px;
	margin-left: 10px;
	margin-right: 10px;
	width: 120px;
	text-align: center;
}

.status::after {
	content: " 🛈";
	font-weight: normal;
}

.explanation {
	transition: opacity 0.5s, height 0.25s;
	opacity: 1;
	margin: 10px;
	cursor: default;
	min-height: 70px;
	font-size: 12pt;
}

@keyframes progress-colors {
	0% {
		accent-color: rgb(255, 193, 7);
	}
	/* 50% {
		accent-color: rgb(13, 110, 253);
	} */
	100% {
		accent-color: rgb(34, 182, 113);
	}
}

.status-div {
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

.status-div.great {
	background-color: rgb(25, 135, 84)
}

.status-div.good {
	background-color: rgb(13, 110, 253)
}

.status-div.maybe-bugs {
	color: #000000;
	background-color: rgb(255, 193, 7);
}

.status-div.in-progress {
	background-color: rgb(108, 117, 125);
}


.subgoal-item {
	display: flex;
	width: 100%;
}

.subgoal-boxes {
	display: flex;
	justify-content: space-between;
	min-width: 45px;
    height: 25px;
    margin: 2px;
    margin-right: 5px;
    padding: 2px;
    border: thin solid green;
    border-radius: 5px;
}

.subgoal-box {
	flex: 1;
	box-sizing: border-box;
    margin-right: 1px;
    margin-left: 1px;
    border: solid green 2px;
    border-radius: 3px;
}

.subgoal-box-working {
	background-color: rgb(205, 237, 152);
}

.subgoal-box-filled {
	background-color: rgb(155, 219, 52);
}

.help-url {
	font-size: small;
}